---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

~> **Deprecated** This name is deprecated and will be removed in the next major version of the provider. Use the [`influxdb3_cloud_token`](./cloud_token) resource instead; a `moved` block (Terraform 1.8+) migrates existing state without replacement. See the [InfluxDB 3 deployment types and resource renaming guide](../guides/deployment-types-and-resource-renaming) for details.

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/token/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
